<div class="content">
  <div class="flex-column ">
    <h1 class="text-center pt-5">STOCK SEARCH</h1>
</div>

<div class="d-flex flex-row mt-4">

    <form [formGroup]="inputForm" (ngSubmit)="onSubmit(inputForm.value)" style="margin:auto">
      <div
      class="input-group rounded-pill ps-3"
      id="group-outer"
    >

      <input
      type="text"
      formControlName="input"
      placeholder="Enter stock name"
      aria-describedby="button-addon1"
      class="form-control border-0 m-0 p-0"
      [matAutocomplete]="auto"
      
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSubmitAutocomplete($event.option.value)">
      <mat-option *ngIf="isLoading && !empty" class="is-loading"><mat-spinner style="margin: 0 auto" diameter="25"></mat-spinner></mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let company of filteredCompanies.result" [value]="company.symbol">
          <span><b>{{company.symbol}} </b>|</span>
          <span>{{ company.description }}</span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
    <div class="input-group-append border-0 mb-1">
        <button
          id="button-addon1"
          type="submit"
          class="btn btn-link text-primary border-0 mb-auto p-0"
        >
          <svg
            width="1.3em"
            height="1.3em"
            viewBox="0 0 16 16"
            class="bi bi-search text-success"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
            />
            <path
              fill-rule="evenodd"
              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
            />
          </svg>
        </button>

        <button
          id="button-addon2"
          type="reset"
          (click)="onClear()"
          class="btn btn-link text-primary ms-2 border-0 mt-auto p-0"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        </button>
      </div>
    </div>
    </form>
   
  </div> 
</div>


<app-stock-ticker></app-stock-ticker>


